<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chill debug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        /* Don't use this CSS. Your code will look HORRIBLE ;-) */
        .phps-t-open-tag {color: #DD3333;}
        .phps-t-variable {color: #33DD33;}
        .phps-t-if,
        .phps-t-while,
        .phps-t-exit {color: #3333DD;}
        .phps-t-string,
        .phps-t-echo {color: #33DDDD}
        .phps-t-isset {color: #DD33DD}
        .phps-t-lnumber {color: #DDDD33}
        .phps-t-encapsed-and-whitespace,
        .phps-t-constant-encapsed-string {color: #DDDDDD}
    </style>
</head>
<body>

    <!--content-->
    %s
    <!--end content-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>

</body>
</html>