<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chill debug</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .table_row_small {
            height: 10px;
            size: 8px;
        }
    </style>
</head>
<body>

<!--content-->
<header class="jumbotron">
    <h1>Debug report</h1>
    <p>%s %s %s %s</p>
</header>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#stack_trace" aria-controls="stack_trace" role="tab" data-toggle="tab">Stack
            Trace</a></li>
        <li role="presentation"><a href="#code_coverage" aria-controls="code_coverage" role="tab"
                                                  data-toggle="tab">Code Coverage</a></li>
        <li role="presentation"><a href="#server" aria-controls="server" role="tab" data-toggle="tab">Server
            Information</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="stack_trace">%s</div>
        <div role="tabpanel" class="tab-pane" id="code_coverage">%s</div>
        <div role="tabpanel" class="tab-pane" id="server">%s</div>
    </div>

</div>
<!--end content-->
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>

</body>
</html>